/* Created by: BrandonBCode
* Created on: April 2025
* This file contains the CSS for index.php
*/
form {
    background-color: #9fc2da;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

h1 {
    background-color: #aef0ca;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

h3 {
    background-color: #eb718b;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

p {
    width: 80%;
    margin-left: 10%;
}

iframe {
    margin-bottom: 5%;
    background-color: #487de0;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}

#yellow {
    background-color: #dfde82;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
}